<a href="https://colab.research.google.com/github/fitriademiar/Study-Independen/blob/main/Python_4_Container_Dictionary_and_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python-2 Container

Container merupakan tipe data yang sangat berguna dalam AI karena mampu menampung banyak *primitive data types* di dalamnya. Container juga dikenal dengan sebutan *non-primitive data types*. Terdapat lima jenis container Python yang akan kita bahas, antara lain:

- `list`
- `tuple`
- `set`
- `dictionary`
- `array`

# Dictionary

Dictionary adalah kumpulan dari pasangan key dan value yang tak terurut. Dictionary termasuk tipe data mutable.

## Membuat Dictionary

Tuple dibuat dengan memberikan identifier dan data pada tuple. Data tuple tersusun atas pasangan key dan value yang diapit oleh simbol kurung kurawal atau curly brackets `{}`.

Tiap key harus unik dan dihubungkan dengan sebuah value (*item*) menggunakan simbol titik dua atau colon (`:`).

Pasangan key dan value dalam dictionary dipisahkan dengan pasangan key dan value lainnya menggunakan simbol koma `(,)`

In [ ]:
myPet = {'nama' : 'Imut', 'jenis':'kucing', 'warna':'jingga', 'umur':1.5, 'jenis_kelamin':0, 'vaksin': False }
print(myPet)

{'nama': 'Imut', 'jenis': 'kucing', 'warna': 'jingga', 'umur': 1.5, 'jenis_kelamin': 0, 'vaksin': False}

Pembuatan dictionary dapat dilakukan seperti ini untuk mempermudah penulisan dan pembacaan.

In [ ]:
myPet = {'nama' : 'Imut',
         'jenis':'kucing',
         'warna':'jingga',
         'umur':1.5,
         'jenis_kelamin':0,
         'vaksin': False }
print(myPet)

{'nama': 'Imut', 'jenis': 'kucing', 'warna': 'jingga', 'umur': 1.5, 'jenis_kelamin': 0, 'vaksin': False}

Dictionary bisa menampung data homogen di dalamnya.

In [ ]:
kelas = {'kelas' : 'Bravolexta',
         'student' : 40,
         'nama':['Anindya', 'David', 'Rengga', 'Nurul', 'Yusup'],
         'nilai' : [90.5,55.1,60,71.5,85.6],
         'lulus':(True, False, False, True, True)}

print(kelas)

{'kelas': 'Bravolexta', 'student': 40, 'nama': ['Anindya', 'David', 'Rengga', 'Nurul', 'Yusup'], 'nilai': [90.5, 55.1, 60, 71.5, 85.6], 'lulus': (True, False, False, True, True)}


Dictonary dapat dibuat dari dua list berbeda menggunakan function dict() dan zip()

In [ ]:
buah = ['apel', 'mangga', 'jeruk', 'pisang', 'manggis']
jumlah = [10,5,15,6,21]

gudang = dict(zip(buah, jumlah))

print(gudang)
type(gudang)

{'apel': 10, 'mangga': 5, 'jeruk': 15, 'pisang': 6, 'manggis': 21}

dict

Untuk memeriksa data dalam dictionary, kita bisa menggunakan function `keys()`, `values()`, dan `items()`.

- `keys()` digunakan untuk memeriksa semua key dalam dictionary
- `values()` digunakan untuk memeriksa semua value (item) dalam dictionary
- `items()` digunakan untuk memeriksa semua key dan value dalam dictionary

In [ ]:
gudang.keys()

dict_keys(['apel', 'mangga', 'jeruk', 'pisang', 'manggis'])

In [ ]:
gudang.values()

dict_values([10, 5, 15, 6, 21])

In [ ]:
gudang.items()

dict_items([('apel', 10), ('mangga', 5), ('jeruk', 15), ('pisang', 6), ('manggis', 21)])

##Accesing Dictionary Values

Operator `in` dan `not in` dapat digunakan untuk memeriksa apakah key atau value tertentu ada di dalam dictionary atau tidak.

In [ ]:
'menteng' in gudang.keys()

False

In [ ]:
'manggis' not in gudang.keys()

False

In [ ]:
10 in gudang.values()

True

In [ ]:
100 not in gudang.values()

True

Sama halnya seperti list, akses value (item) dictionary dapat dilakukan melalui index. Hanya saja, dictionary memiliki index berbentuk key.

Jadi untuk mengaksesnya value dictionary, kita hanya perlu menyebutkan key value tersebut dalam brackets `[]`.

In [ ]:
print(gudang)

print('Jumlah apel\t=', gudang['apel'])
print('Jumlah mangga\t=', gudang['mangga'])
print('Jumlah jeruk\t=', gudang['jeruk'])
print('Jumlah pisang\t=', gudang['pisang'])
print('Jumlah manggis\t=', gudang['manggis'])

{'apel': 10, 'mangga': 5, 'jeruk': 15, 'pisang': 6, 'manggis': 21}
Jumlah apel	= 10
Jumlah mangga	= 5
Jumlah jeruk	= 15
Jumlah pisang	= 6
Jumlah manggis	= 21

Key dictionary juga bisa kita manfaatkan untuk mengubah (mengupdate) value yang diwakili oleh key tersebut.

In [ ]:
print (gudang)

#Restock
gudang['apel'] = 100
gudang['mangga'] = 150
gudang['jeruk'] = 105
gudang['pisang'] = 50
gudang['manggis'] = 71

print(gudang)

{'apel': 10, 'mangga': 5, 'jeruk': 15, 'pisang': 6, 'manggis': 21}
{'apel': 100, 'mangga': 150, 'jeruk': 105, 'pisang': 50, 'manggis': 71}

Cara lain untuk mengakses value dictionary adalah dengan menggunkan function `get()`. function ini membutuhkan key dictionary yang ingin diakses value-nya.

In [ ]:
print(gudang)

print('Jumlah apel\t=', gudang.get('apel'))
print('Jumlah mangga\t=', gudang.get('mangga'))
print('Jumlah jeruk\t=', gudang.get('jeruk'))
print('Jumlah pisang\t=', gudang.get('pisang'))
print('Jumlah manggis\t=', gudang.get('manggis'))

{'apel': 100, 'mangga': 150, 'jeruk': 105, 'pisang': 50, 'manggis': 71}
Jumlah apel	= 100
Jumlah mangga	= 150
Jumlah jeruk	= 105
Jumlah pisang	= 50
Jumlah manggis	= 71

Kita dapat menambahkan keterangan pada function `get()` jika key tidak ditemukan dalam dictionary.

In [ ]:
print('Jumlah Jamblang\t=', gudang.get('jamblang','Stok jamblang kosong!'))

Jumlah Jamblang	= Stok jamblang kosong!

Cobalah lakukan slicing pada dictionary kemudian analisis outputnya!
Dictionary termasuk unordered container

In [ ]:
gudang['apel':'pisang']

TypeError: unhashable type: 'slice'

In [ ]:
gudang['jeruk':]

TypeError: unhashable type: 'slice'

In [ ]:
gudang[:'manggis']

TypeError: unhashable type: 'slice'

Slicing tidak dapat dilakukan pada dictionary.

##Manipulasi Dictionary

Data dalam dictionary dapat kita tambahkan dengan memberikan pasangan key dan value yang baru ke dalam dictionary.

In [ ]:
nasabah = {'Andini' : 5000,
           'Ganes' : 4500,
           'Chandra' : 5250,
           'Dita' : 6000}
print(nasabah)

nasabah['Indy'] = 7000
nasabah['Devi'] = 3000
nasabah['Rifky'] = 2500
print(nasabah)

{'Andini': 5000, 'Ganes': 4500, 'Chandra': 5250, 'Dita': 6000}
{'Andini': 5000, 'Ganes': 4500, 'Chandra': 5250, 'Dita': 6000, 'Indy': 7000, 'Devi': 3000, 'Rifky': 2500}

Terdapat 3 metode yang bisa kita pakai untuk menghapus data tertentu dari dalam dictionary, yakni menggunakan:
*   del
*   pop()
*   clear()

Cobalah ketiga metode tersebut untuk melihat otput dan perbedaanya!

In [ ]:
print(nasabah, '\n')

del nasabah['Ganes']
del nasabah['Rifky']
print(nasabah, '\n')

pesan = 'Nasabah tidak ditemukan'
nasabah.pop('Chandra', pesan)
nasabah.pop('Zul', pesan)
print(nasabah, '\n')

nasabah.clear()
print(nasabah)

{'Andini': 5000, 'Ganes': 4500, 'Chandra': 5250, 'Dita': 6000, 'Indy': 7000, 'Devi': 3000, 'Rifky': 2500}

{'Andini': 5000, 'Chandra': 5250, 'Dita': 6000, 'Indy': 7000, 'Devi': 3000}

{'Andini': 5000, 'Dita': 6000, 'Indy': 7000, 'Devi': 3000}

{}

#Array (ndarray)

Berbeda dari empat container yang sudah kita bahas sebelumnya, array merupakan container bukan bawaan Python. Array merupakan container yang disediakan oleh library/package *NumPy*. Array sangat berguna ketika kita mengembangkan model Machine Learning (ML) klasik.

Kita perlu meng-import library NumPy terlebih dahulu untuk bisa membuat dan menggunakan array.

In [ ]:
#import numpy array
import numpy as np

##Membuat Array

Array dapat dibuat secara langsung melalui numpy :

In [ ]:
number = np.array([12,3,5,6,0,-1,2])
print(number)
type(number)

[12  3  5  6  0 -1  2]

numpy.ndarray

Atau, dibuat dengan mengkonversi list menjadi numpy:

In [ ]:
huruf = ['Z', 'R', 'A', 'Q', 'W']
huruf = np.array(huruf)
print(huruf)
type(huruf)

['Z' 'R' 'A' 'Q' 'W']

numpy.ndarray

Tambahkan parameter `dtype` pada array yang dibuat supaya array hanya bisa menampung elemen yang homogen.

In [ ]:
number = np.array([12,3,5,6,0,-1,2], dtype=int)
print(number)
type(number)

[12  3  5  6  0 -1  2]

numpy.ndarray

Macam-macam dtype:

###Int

In [ ]:
number = np.array([12,3,5,6,0,-1,2], dtype=int)
print(number)
type(number)

[12  3  5  6  0 -1  2]

numpy.ndarray

###Float

In [ ]:
number = np.array([12.1,3,5.1,6.8,0,-1,2], dtype=float)
print(number)
type(number)

[12.1  3.   5.1  6.8  0.  -1.   2. ]

numpy.ndarray

###String

In [ ]:
huruf = np.array(['A', 'B', 'C', 'D'], dtype=str)
print(huruf)
type(huruf)

['A' 'B' 'C' 'D']

numpy.ndarray

###Float

In [ ]:
keputusan = np.array([True, False, True, False, False], dtype=bool)
print(keputusan)
type(keputusan)

[ True False  True False False]

numpy.ndarray

Array 2D dapat dikatakan sebagai sebuah array yang menampung array lain di dalamnya. Pembuatan array 2D mirip dengan pembuatan list 2D.

In [ ]:
M = np.array([[1,2,3],
             [4,5,6],
             [7,8,9]], dtype=int)
print(M)
type(M)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

numpy.ndarray

Melihat informasi array menggunakan `size`, `ndim`, dan `shape`.

*   `size` untuk melihat jumlah elemen array
*   `ndim` untuk melihat dimensi array
*   `shape` untuk ordo array

In [ ]:
print('Size\t\t:', number.size)
print('Dimension\t:', number.ndim)
print('Shape\t\t:', number.shape,'\n')

print('Size\t\t:', M.size)
print('Dimension\t:', M.ndim)
print('Shape\t\t:', M.shape,'\n')

Size		: 7
Dimension	: 1
Shape		: (7,)

Size		: 9
Dimension	: 2
Shape		: (3, 3)

Membuat array menggunakan function numpy lainnya:


*   `zeros()` untuk membuat array dengan elemen bernilai 0

In [ ]:
nol_kecil = np.zeros(5) #ordo 5x1
nol_besar = np.zeros((3,3), dtype=int)#ordo 3x3

print(nol_kecil,'\n')
print(nol_besar,'\n')

[0. 0. 0. 0. 0.]

[[0 0 0]
 [0 0 0]
 [0 0 0]]


*   `ones()` untuk membuat array dengan elemen bernilai 1

In [ ]:
vecor_1 = np.ones(10) #ordo 10x1
matriks_1 = np.ones((4,4), dtype=int) #ordo 4x4

print(vecor_1, '\n')
print(matriks_1, '\n')

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

*   `arange()` untuk membuat array 1D (vector) dengan elemen dalam range tertentu

 `arange()` dapat dikombinasikan dengan `reshape` untuk mengubah vector menjadi matriks (array 2D).

In [ ]:
vector_range = np.arange(9)
matriks_range = vector_range.reshape(3,3) #ubah vector menjadi matriks ordo 3x3

print(vector_range, '\n')
print(matriks_range, '\n')

[0 1 2 3 4 5 6 7 8]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

##Array Indexing and Slicing

Kita dapat mengakses elemen dalam array melalui indexing dan slicing. Indexing berfungsi untuk mengakses satu elemen dalam array. Sedangkan slicing berfungsi untuk mengakses beberapa elemen dalam array sekaligus. Indexing dan slicing array mirip dengan indexing dan slicing list.

In [ ]:
lang = np.array(['id','en', 'jp', 'cn', 'ru', 'kr', 'th'])

print(lang, '\n')
print(lang[0], '\n')

print(lang[1:4], '\n')
print(lang[-3:-2],'\n')

print(lang[3:],'\n')
print(lang[:6],'\n')

print(lang[-5:],'\n')
print(lang[:-3],'\n')

['id' 'en' 'jp' 'cn' 'ru' 'kr' 'th']

id

['en' 'jp' 'cn']

['ru']

['cn' 'ru' 'kr' 'th']

['id' 'en' 'jp' 'cn' 'ru' 'kr']

['jp' 'cn' 'ru' 'kr' 'th']

['id' 'en' 'jp' 'cn']

Indexing dan slicing array dapat kita manfaatkan untuk mengupdate elemen array tertentu.

In [ ]:
lang = np.array(['id', 'en', 'jp', 'cn', 'ru', 'kr','th'])
print(lang, '\n')

lang[4] = 'CA'
lang[5] = 'AR'
lang[-1] = 'HI'
lang[:4] = 'no'

print(lang,'\n')

['id' 'en' 'jp' 'cn' 'ru' 'kr' 'th']

['no' 'no' 'no' 'no' 'CA' 'AR' 'HI']

Array 2D terdiri dari baris dan kolom. Indexing array 2D dapat dilakukan dengan menyebut baris dan kolom tempat elemen berada (posisi elemen). Baris dan kolom array 2D dimulai dari `0`.

In [ ]:
A = np.array([[81,24,36],
              [43,67,12],
              [75,90,58]])
print(A,'\n')

print(A[1,2]) #baris 1 kolom 2
print(A[2,0]) #baris 2 kolom 0
print(A[0,1]) #baris 0 kolom 1

[[81 24 36]
 [43 67 12]
 [75 90 58]]

12
75
24

Slicing array 2D membutuhkan posisi baris dan kolom elemen-elemen yang hendak diambil.

> `[posisi_baris, posisi_kolom]`

>`[baris_awal:baris_akhir, kolom_awal:kolom_akhir]`

Kita dapat membayangkan index berada diantara elemen array untuk memudahkan kita dalam men-slicing array 2D.

In [ ]:
B = np.array([[81,24,36],
              [43,67,12],
              [75,90,58]])
print(B,'\n')

print(B[0:3, 0:2],'\n') #baris 0 sd 3, kolom 0 sd 2
print(B[1:2, 1:2],'\n') #baris 1 sd 2, kolom 1 sd 2
print(B[0:2, :],'\n') #baris 0 sd 2, semua kolom
print(B[:, 2:3],'\n') #semua baris, kolom 2 sd 3
print(B[1:, 1:],'\n') #baris 1 sd seterusnya, kolom 1 sd seterusnya
print(B[:2, :2],'\n') #semua baris sebelum baris 2, semua kolom sebelum kolom 2

[[81 24 36]
 [43 67 12]
 [75 90 58]]

[[81 24]
 [43 67]
 [75 90]]

[[67]]

[[81 24 36]
 [43 67 12]]

[[36]
 [12]
 [58]]

[[67 12]
 [90 58]]

[[81 24]
 [43 67]]

Coba update elemen array 2D menggunakan idexing dan slicing array!

In [ ]:
print(B, '\n')

B[1,2] =0
B[2,2] = 0
B[0,2] = 0
B[:,1] = 1

print(B)

[[81 24 36]
 [43 67 12]
 [75 90 58]]

[[81  1  0]
 [43  1  0]
 [75  1  0]]

##Operasi Matriks (Array 2D)

Berikut ini adalah beberapa operasi matriks yang akan kita lakukan:
- penambahan
- pengurangan
- dot product
- perkalian
- mencari inverse matriks
- mencari determinan matriks
- mencari transpose matriks

In [ ]:
x = np.array ([[1,2,3],[4,5,6],[7,8,9]])
y = np.array ([[2,2,2], [2,2,2], [2,2,2]])
skalar = 3

In [ ]:
#penambahan dan pengurangan
A = x + skalar
Z = x + y

print(A, '\n\n', Z,'\n\n\n\n')

#Pengurangan

B = x-skalar
C = x-y
print(A, '\n\n', Z)

[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

 [[ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]




[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

 [[ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [ ]:
#dot product
A = x * skalar
B = x * y

print(A, '\n\n', B, '\n\n\n\n')

#perkalian
C = np.matmul(x,y)
print(C)

[[ 3  6  9]
 [12 15 18]
 [21 24 27]]

 [[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]




[[12 12 12]
 [30 30 30]
 [48 48 48]]

In [ ]:
#Determinan
Z = x * x

det_Z = np.linalg.det(Z)
print(det_Z)

#Invers
Z = x*x

inv_z = np.linalg.inv(Z)
print(inv_z)

-216.00000000000006
[[ 1.29166667 -1.16666667  0.375     ]
 [-2.16666667  1.66666667 -0.5       ]
 [ 0.93055556 -0.61111111  0.18055556]]

In [ ]:
#Transpose
print(x,'\n')

x_t = x.transpose()
print(x_t)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [ ]:
#konversi
print(x,'\n')

flat_x = x.flatten()
print(flat_x)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

[1 2 3 4 5 6 7 8 9]

# Latihan

2. Buat sebuah array dengan elemen seperti gambar di bawah!
Kemudian lakukan slicing pada array tersebut sesuai dengan arahan kotak merah!

![slicing1.png]()

In [ ]:
I = np.array([[1,2],[4,5],[7,8]])
print(I, '\n')
print(I[2,:])

[[1 2]
 [4 5]
 [7 8]]

[7 8]

3. Buat sebuah array dengan elemen seperti gambar di bawah!
Kemudian lakukan slicing pada array tersebut sesuai dengan arahan kotak merah!

![slicing2.png]()

In [ ]:
H = np.array([[1,6,9],[2,5,8]])
print(H,'\n')
print(H[0:2,1:2])

[[1 6 9]
 [2 5 8]]

[[6]
 [5]]

4. Buat sebuah array dengan elemen seperti gambar di bawah!
Kemudian lakukan slicing pada array tersebut sesuai dengan arahan kotak merah!

![slicing3.png]()

In [ ]:
g = np.array([[4,3,8],[7,2,5],[6,1,9]])
print(g,'\n')
print(g[1:3, 1:2],'\n')
print(g[0:1, 1:3])

[[4 3 8]
 [7 2 5]
 [6 1 9]]

[[2]
 [1]]

[[3 8]]

5. Buat sebuah array dengan elemen seperti gambar di bawah!
Kemudian lakukan slicing pada array tersebut sesuai dengan arahan kotak merah!

![slicing4.png]()

In [ ]:
k = np.array([[23,35,93,87],
             [92,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])

print(k,'\n')
print(k[1,1:],'\n')
print(k[2:4, 1:3],'\n')
print(k[1:,1:], '\n')
print(k[1:3,0:2],'\n')
print(k[:2,:3],'\n')
print(k[1:,1])

[[23 35 93 87]
 [92 44 11 83]
 [40 12 46 28]
 [73 67 65 32]]

[44 11 83]

[[12 46]
 [67 65]]

[[44 11 83]
 [12 46 28]
 [67 65 32]]

[[92 44]
 [40 12]]

[[23 35 93]
 [92 44 11]]

[44 12 67]